.forgot-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4f46e5,#7c3aed,#2563eb);
}

.forgot-card{

    width:360px;

    background:#fff;

    padding:30px;

    border-radius:22px;

    box-shadow:0 18px 40px rgba(0,0,0,.18);

    text-align:center;

}

.forgot-logo{

    width:70px;
    height:70px;

    margin:auto;
    margin-bottom:18px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:24px;
    font-weight:bold;

    background:linear-gradient(135deg,#5b5cf0,#ff4d8d);

}

.forgot-card h1{

    font-size:28px;

    color:#1f2937;

    margin-bottom:10px;

}

.forgot-subtitle{

    color:#6b7280;

    margin-bottom:25px;

    font-size:14px;

}

.input-box{

    display:flex;

    align-items:center;

    background:#f8f9fd;

    border:1px solid #ddd;

    border-radius:12px;

    padding:0 15px;

    margin-bottom:18px;

}

.input-icon{

    color:#5b5cf0;

    font-size:18px;

}

.input-box input{

    width:100%;

    border:none;

    background:transparent;

    outline:none;

    padding:14px;

}

.forgot-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    cursor:pointer;

    color:white;

    font-size:16px;

    font-weight:600;

    background:linear-gradient(90deg,#5b5cf0,#ff4d8d);

}

.forgot-btn:hover{

    transform:translateY(-2px);

    transition:.3s;

}

.divider{

    display:flex;

    align-items:center;

    margin:22px 0;

}

.divider::before,
.divider::after{

    content:"";

    flex:1;

    height:1px;

    background:#ddd;

}

.divider span{

    padding:0 15px;

    color:#888;

}

.login-text{

    color:#666;

}

.login-text a{

    margin-left:6px;

    color:#5b5cf0;

    text-decoration:none;

    font-weight:600;

}